<div class="commons_content" id="projectComponent">

	<!---------------------------------- Propriétaire du projet ---------------------------------->
	<div *ngIf="dataSourceCurrentUser"  class="project_block project_owner">
		<div class="project_title">
			<h2>Propriétaire du projet</h2>
			<button mat-fab>
				<mat-icon class="">add</mat-icon>
			</button>
		</div>
		<table mat-table [dataSource]="dataSourceCurrentUser"  class="project_table ">
			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
				<td mat-cell *matCellDef="let element"> {{element.email}} </td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
				<td mat-cell *matCellDef="let element"> {{element.name}} </td>
			</ng-container>

			<ng-container matColumnDef="company">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Société </th>
				<td mat-cell *matCellDef="let element"> {{element.company}} </td>
			</ng-container>

			<ng-container matColumnDef="jobTitle">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Lot de travaux </th>
				<td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
			</ng-container>

			<ng-container matColumnDef="projectId">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> projectId </th>
				<td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
			</ng-container>

			<ng-container matColumnDef="role">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Privilège </th>
				<td mat-cell *matCellDef="let element"> {{ element.role }} </td>
			</ng-container>
			<ng-container matColumnDef="state">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
				<td mat-cell *matCellDef="let element"> </td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element"></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

	<!---------------------------------- Projet partagé avec ---------------------------------->

	<div *ngIf="dataSourceSharedParticipant"  class="project_block project_shared">
		<div class="project_title">
			<h2>Projet partagé avec</h2>
			<button mat-fab (click)="addShare()">
				<mat-icon class="">add</mat-icon>
			</button>
		</div>
		<table mat-table [dataSource]="dataSourceSharedParticipant"  class="project_table">
			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
				<td mat-cell *matCellDef="let element"> {{element.email}} </td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
				<td mat-cell *matCellDef="let element"> {{element.name}} </td>
			</ng-container>

			<ng-container matColumnDef="company">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Société </th>
				<td mat-cell *matCellDef="let element"> {{element.company}} </td>
			</ng-container>

			<ng-container matColumnDef="jobTitle">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Lot de travaux </th>
				<td mat-cell *matCellDef="let element">  {{element.jobTitle}}</td>
			</ng-container>

			<ng-container matColumnDef="projectId">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> projectId </th>
				<td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
			</ng-container>

			<ng-container matColumnDef="role">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Privilège </th>
				<td mat-cell *matCellDef="let element"> {{ element.role }} </td>
			</ng-container>
			<ng-container matColumnDef="state">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
				<td mat-cell *matCellDef="let element">  </td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef> Actions </th>
				<td mat-cell *matCellDef="let element">
					<button class="project_table_action" mat-button>
						<mat-icon class="project_table_action_icon">more_vert</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

	
	<!---------------------------------- Utilisant ArchiPad ---------------------------------->
	<div *ngIf="dataSourceArchipadParticipant"  class="project_block project_archipad">
		<div class="project_title">
			<h2>Lot de travaux utilisant Archipad</h2>
		</div>
		<table mat-table [dataSource]="dataSourceArchipadParticipant"  class="project_table">
			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
				<td mat-cell *matCellDef="let element"> {{element.email}} </td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
				<td mat-cell *matCellDef="let element"> {{element.name}} </td>
			</ng-container>

			<ng-container matColumnDef="company">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Société </th>
				<td mat-cell *matCellDef="let element"> {{element.company}} </td>
			</ng-container>

			<ng-container matColumnDef="jobTitle">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Lot de travaux </th>
				<td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
			</ng-container>

			<ng-container matColumnDef="projectId">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> projectId </th>
				<td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
			</ng-container>

			<ng-container matColumnDef="role">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Privilège </th>
				<td mat-cell *matCellDef="let element"> {{ element.role }} </td>
			</ng-container>
			<ng-container matColumnDef="state">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
				<td mat-cell *matCellDef="let element">  </td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef> Actions </th>
				<td mat-cell *matCellDef="let element">
					<button class="project_table_action" mat-button >
						<mat-icon class="project_table_action_icon">more_vert</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumnsArchipad"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumnsArchipad;"></tr>
		</table>
	</div>
</div>