#projectComponent
{
	.project_title
	{
		background-color: 			#F3F3F3;
		padding: 					20px 0 20px 20px;
		display: 					-ms-flexbox;
		display: 					-webkit-flex;
		display: 					flex;
		-webkit-flex-direction: 	row;
		-ms-flex-direction: 		row;
		flex-direction: 			row;
		-webkit-flex-wrap: 			wrap;
		-ms-flex-wrap: 				wrap;
		flex-wrap: 					wrap;
		-webkit-justify-content: 	space-between;
		-ms-flex-pack: 				justify;
		justify-content: 			space-between;
		-webkit-align-content: 		center;
		-ms-flex-line-pack: 		center;
		align-content: 				center;
		-webkit-align-items: 		center;
		-ms-flex-align: 			center;
		align-items: 				center;

		button
		{
			position: 	relative;
			right: 		45px;
		}
		h2
		{
			margin: 		0;
			text-transform: uppercase;
			font-size: 		16px;
		}
	}

	.mat-table
	{
		width: 			100%;
		margin-bottom: 	40px;
		box-shadow: 	0 5px 5px -3px rgb(0 0 0 / 20%), 17px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 0%);
		th
		{
			background-color: #F3F3F3;
		}	

		.project_table_action_icon 
		{
			font-size: 20px;
		}
	}

	.project_owner .project_title
	{
		button
		{
			background-color: #FF4082;
		}
	}
	.project_shared .project_title	
	{
		button
		{
			background-color: #43A5F5;
		}
	}
}